
.nouncloset36900131_nouncloset36900131 {
	width: 24px;
	height: 24px;
}
.nouncloset36900131_nouncloset36900131 .Vector {
	position: absolute;
	left: 4px;
	top: 2px;
	width: 63.333332538604736%;
	height: 85.90984344482422%;
}