
.nouncloset36947041_nouncloset36947041 {
	width: 24px;
	height: 24px;
}
.nouncloset36947041_nouncloset36947041 .Vector {
	position: absolute;
	left: 4.2001953125px;
	top: 1.400390625px;
	width: 65.00080823898315%;
	height: 88.33333651224771%;
}