
.TelegramLogo_TelegramLogo {
	width: 24px;
	height: 24px;
}
.TelegramLogo_TelegramLogo .Vector {
	position: absolute;
	left: 0.74951171875px;
	top: 2.25px;
	width: 87.50062783559164%;
	height: 78.1242847442627%;
}